@model SimpleLogin.Responses.LoginResponse
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giriş Yap</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{


    <div class="form-group">
        @Html.LabelFor(t => t.User.Email)
        @Html.TextBoxFor(t => t.User.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(t => t.User.Password)
        @Html.PasswordFor(t => t.User.Password, new { @class = "form-control" })
    </div>

    if (Model != null && Model.ErrorCode != 0)
    {
        <div>
            <span>@Model.ErrorMesseage</span>

        </div>
    }

    <input type="submit" class="form-control" value="Kaydet" />

}

